USE [SporSalonuDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.12.2025 23:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[role] [nvarchar](20) NULL,
	[expiry_date] [date] NULL,
	[fee] [decimal](10, 2) NULL,
	[phone] [nvarchar](15) NULL,
	[training_program] [nvarchar](max) NULL,
	[profile_pic] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [name], [surname], [username], [password], [role], [expiry_date], [fee], [phone], [training_program], [profile_pic]) VALUES (1, N'Sistem', N'Yoneticisi', N'admin', N'admin123', N'admin', CAST(N'2035-12-20' AS Date), CAST(2500.00 AS Decimal(10, 2)), N'', N'', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC57229F7AAB9]    Script Date: 20.12.2025 23:57:06 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((2500.00)) FOR [fee]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [phone]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [training_program]
GO
